.container {
    width: 700px;
    margin: 0 auto;
}

.wrapper {
    width: 500px;
    float: right;
}

.navigation {
    width: 200px;
    float: left;
}

.extra {
    width: 200px;
    float: left;
    clear: left;
}

.footer {
    clear: both;
}
