.container {
    width: 700px;
    margin: 0 auto;
}

.wrapper {
    width: 500px;
    float: left;
}

.navition {
    width: 200px;
    float: right;
}

.extra {
    width: 100%;
    float: left;
    clear: both;
}

.footer {
    clear: both;
}
