.container {
    width: 700px;
    margin: 0 auto;
}

.wrapper {
    width: 400px;
    float: left;
}

.navigation {
    width: 150px;
    float: left;
}

.extra {
    width: 150px;
    float: left;
}

.footer {
    clear: both;
}
