body {
    margin: 0;
    padding: 0;
}

.container {
    width: 700px;
    margin: 0 auto;
}

.wrapper {
    width: 400px;
    float: right;
    position: relative;
}

.navigation {
    width: 150px;
    float: left;
    position: relative;
    margin-left: 150px;
}

.extra {
    width: 150px;
    float: left;
    position: relative;
    margin-left: -300px;
}

.header, .footer {
    width: 700px;
    clear: both;
}
