body {
    margin: 0;
    padding: 0;
}

.wrapper {
    margin: 0 25%;
    width: 50%;
    float: left;
}

.navigation {
    width: 25%;
    position: absolute;
    right: 0;
}

.extra {
    width: 25%;
    position: absolute;
    left: 0;
}

.footer {
    clear: both;
}
