html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#container {
    background-color: #000000;
    color: #ffffff;
}

#header {
    background-color: #ff0000;
}

#wrapper {
    background-color: #00ff00;
}

#content {
    background-color: #0000ff;
}

#navigation {
    background-color: #ffff00;
}

#extra {
    background-color: #ff00ff;
}

#footer {
    background-color: #00ffff;
}
