body {
    margin: 0;
    padding: 0;
}

.container {
    width: 700px;
    margin: 0 auto;
}

.container .wrapper {
    width: 400px;
    float: left;
    margin-left: 150px;
}

.container .navigation {
    width: 150px;
    float: left;
    margin-left: -550px;
    position: relative;
}

.container .extra {
    width: 150px;
    float: left;
    position: relative;
}

.header, .footer {
    width: 700px;
    clear: both;
}
