.wrapper {
    float: left;
}

.content {
    float: left;
    margin: 0 200px 0 33%;
}

.navigation {
    width: 33%;
    float: left;
    margin-left: -100%;
}

.extra {
    width: 200px;
    float: right;
    margin-left: -100%;
}

.footer {
    clear: both;
}
