.container {
    width: 700px;
    margin: 0 auto;
}

.wrapper {
    width: 400px;
    float: left;
}

.navigation {
    width: 150px;
    float: right;
}

.extra {
    width: 150px;
    float: left;
}

.header, .footer {
    width: 700px;
    clear: both;
}
